/file-sharing/file-sharing-auth-client/.settings/*.prefs
/file-sharing/file-sharing-auth-core/.settings/*.prefs
/file-sharing/file-sharing-auth-rest/.settings/*.prefs
/file-sharing/file-sharing-auth-webapp/*.classpath
/file-sharing/file-sharing-auth-webapp/*.project
/file-sharing/file-sharing-auth-webapp/.settings/*.prefs
/file-sharing/file-sharing-back-client/.settings/*.prefs
/file-sharing/file-sharing-back-core/.settings/*.prefs
/file-sharing/file-sharing-back-rest/.settings/*.prefs
/file-sharing/file-sharing-back-webapp/.settings/*.prefs
/file-sharing/file-sharing-common/.settings/*.prefs
/file-sharing/file-sharing-front-core/.settings/*.prefs
/file-sharing/file-sharing-front-webapp/.settings/*.prefs
*.classpath
*.project
*.prefs
/.metadata/
/file-sharing-front/file-sharing-front-webapp/.settings/*.jsdtscope
/file-sharing-front/file-sharing-front-webapp/.settings/*.component
/file-sharing-front/file-sharing-front-webapp/.settings/*.xml
/file-sharing-front/file-sharing-front-webapp/.settings/*.container
/file-sharing-front/file-sharing-front-webapp/.settings/*.name
/.recommenders/
/file-sharing-auth/file-sharing-auth-app/.settings/org.eclipse.wst.common.component
/file-sharing-auth/file-sharing-auth-app/.settings/org.eclipse.wst.common.project.facet.core.xml
/file-sharing-auth/file-sharing-auth-core/.settings/org.eclipse.wst.common.component
/file-sharing-auth/file-sharing-auth-core/.settings/org.eclipse.wst.common.project.facet.core.xml
/file-sharing-back/file-sharing-back-app/.settings/org.eclipse.wst.common.component
/file-sharing-back/file-sharing-back-app/.settings/org.eclipse.wst.common.project.facet.core.xml
/file-sharing-back/file-sharing-back-core/.settings/org.eclipse.wst.common.component
/file-sharing-back/file-sharing-back-core/.settings/org.eclipse.wst.common.project.facet.core.xml
/file-sharing-common/.settings/org.eclipse.wst.common.component
/file-sharing-common/.settings/org.eclipse.wst.common.project.facet.core.xml
