/file-sharing/file-sharing-auth-client/.settings/*.prefs
/file-sharing/file-sharing-auth-core/.settings/*.prefs
/file-sharing/file-sharing-auth-rest/.settings/*.prefs
/file-sharing/file-sharing-auth-webapp/*.classpath
/file-sharing/file-sharing-auth-webapp/*.project
/file-sharing/file-sharing-auth-webapp/.settings/*.prefs
/file-sharing/file-sharing-back-client/.settings/*.prefs
/file-sharing/file-sharing-back-core/.settings/*.prefs
/file-sharing/file-sharing-back-rest/.settings/*.prefs
/file-sharing/file-sharing-back-webapp/.settings/*.prefs
/file-sharing/file-sharing-common/.settings/*.prefs
/file-sharing/file-sharing-front-core/.settings/*.prefs
/file-sharing/file-sharing-front-webapp/.settings/*.prefs
*.classpath
*.project
*.prefs
/file-sharing-auth/file-sharing-auth-app/.settings/*.jsdtscope
/file-sharing-auth/file-sharing-auth-app/.settings/*.component
/file-sharing-auth/file-sharing-auth-app/.settings/*.xml
/file-sharing-auth/file-sharing-auth-app/.settings/*.container
/file-sharing-auth/file-sharing-auth-app/.settings/*.name
/file-sharing-auth/file-sharing-auth-core/.settings/*.component
/file-sharing-auth/file-sharing-auth-core/.settings/*.xml
